.logo-header.card-header {
	/* padding-left: 5px; */
    padding: 0.75rem 1.5rem;
    /* display: flex;
    justify-content: space-between; */
}
.logo-header {
	display: flex;
	align-items: center;
	height: 4rem;
    justify-content: space-between;
}
.logo-header h2 {
	font-weight: 600;
}
#logo {
	/* margin-right: 2em; */
}
#logo img{
	width: 50px;
	cursor: pointer;
}
.infobox img {
    width: 100px;
}
.logo-animation {
    animation: rotation 4s infinite linear;
    animation-play-state: running;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.logo-animation.paused {
    animation-play-state: paused;
}
.modal-dialog.modal-about {
    max-width: 600px;
    margin: 30px auto;
}
#dialog-about a {
    color: #337ab7;
}
  
#dialog-about > div {
    margin-bottom: 5px;
}

#dialog-about .infobox{
    display: flex;
    justify-content: space-around;
}

#dialog-about .infohead{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}

