.category-panel.minimized .category-card {
	width: 2.4em;
}
.category-panel.active .category-card {
    border: 1px solid #a5c871;
}
.category-panel.list-group-item.active {
    color: #212529;
    background-color: #FFF;
	border-color: rgba(0, 0, 0, 0.125);
} 
.category-header {
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	display: block;
}
.category-header.card-header {
	padding: 0.5rem;
	border-bottom: 0;
}
.category-header .category-name {
	padding-left: 0.5em;
}
.category-panel.active .category-header {
	background-color: #cfe6ad;
	border: 1px solid #a5c871;
}
.help-text {
	display: block;
	font-size: 14px;
	color: #4a4a4a;
	padding: 0.1em 0.5em;
}
.compat-remark{
	background-color: #fdcbd4;
    display: inline-block;
    padding: 0.2em;
    border: 1px lightgray;
    border-radius: 4px;
}
.category-tooltip.tooltip.show {
	opacity: 1;
  }
.category-tooltip > .tooltip-inner {
	background-color: #fffae1;
	font-weight: 600;
	color: #444;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.category-tooltip.bs-tooltip-right .arrow::before {
	border-right-color: rgba(0, 0, 0, 0.125);
}