.category-header {
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	display: block;
}
#categorys-panel {
	overflow-y: scroll;
	height: 100%;
	margin-top: 45px;
}
#categorys-panel > .list-group-item {
	padding: 0.25em;
	border: 0;
}
.category-panel.active .category-card {
    border: 1px solid #a5c871;
}
.category-panel.list-group-item.active {
    color: #212529;
    background-color: #FAFAFA;
	border-color: rgba(0, 0, 0, 0.125);
}
.category-header.card-header {
	padding: 0.25rem 1.25rem;
	border-bottom: 0;
}
.category-panel.active .category-header {
	background-color: #cfe6ad;
	border: 2px solid #a5c871;
}
.category-panel .endpoint-panel {
	display: none;
	background-color: #cfe6ad;
}
.category-panel.active .endpoint-panel {
	display: block;
}
.withoutHelp .helpText{
	display: none;
}
.withHelp .helpText {
	display: block;
	font-size: 14px;
	color: #4a4a4a;
	padding: 0.1em 0.5em;
}
.compat-remark{
	background-color: #fdcbd4;
    display: inline-block;
    padding: 0.2em;
    border: 1px lightgray;
    border-radius: 4px;
}