#header-panel {
    position: relative;
	border-bottom: 0;
}
#header-panel > .head-parameters {
	padding: 0.25em;
	position: absolute;
	width: 100%;
	top: 0;
    z-index: 50;
}
.head-parameters .head-parameter-list {
	display:none;
}
.head-parameters.with-overlay .head-parameter-list {
	display:block;
}
.head-parameters.with-overlay {
	background-color: #cfe6adba;
	height: calc(100vh - 7.85em);
}
.head-parameter-list > .parameter:nth-of-type(even) {
	background-color: #FAFAFA;
}