html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
}
#app > .row {
	height: 100vh;
	flex-wrap: nowrap;
}
#request-panel {
	padding: 0;
	margin: 5px;
}
#api-panel {
	overflow-y: scroll;
	height: 100%;
	margin-top: 50px;
	display: flex;
}
#categorys-panel {
	width: 100%;
	flex-shrink: 100;
}
#categorys-panel > .list-group-item {
	padding: 0.25em;
	border: 0;
}
#endpoints-panel {
	width: 100%;
}
#endpoints-panel > .category-panel {
	padding: 0.25em;
	border: 0;
}
#footer-actions {
	display: flex;
	justify-content: space-between;
}
.btn-warning {
	background-color: #fffae1;
}
#footer-actions .btn-sm {
	padding: 0.1rem 0.5rem;
}
#response-panel {
	padding: 0;
	margin: 5px;
	flex-grow: 2;
}