.rc-slider {
	position: relative;
	height: 7px;
	width: 100%;
	border-radius: 6px;
	background-color: #B3ABA7;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
	position: absolute;
	left: 0;
	height: 7px;
	border-radius: 6px;
	background-color: #84B8D2;
}
.rc-slider-handle {
	position: absolute;
	margin-left: 2px;
	margin-top: -4px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	border-radius: 50%;
	border: solid 1px #E3D6CF;
	box-shadow: 1px 1px 2px #000000, 0px 0px 1px #0d0d0d;
	background: transparent linear-gradient(to bottom, #EAE8E7, #C0BBB8);
	outline: 0;
}
.rc-slider-handle:hover {
	border-color: #8FC9E6;
	box-shadow: 1px 1px 2px #8FC9E6, 0px 0px 1px #8FC9E6;
}
.rc-slider-handle-active:active {
	border-color: #8FC9E6;
	box-shadow: 1px 1px 2px #8FC9E6, 0px 0px 1px #8FC9E6;
}
.rc-slider-step {
	position: absolute;
	width: 100%;
	height: 20px;
	top: -6px;
	cursor: pointer;
	background: transparent;
}
.rc-slider-disabled {
	background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
	background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
	border-color: #ccc;
	background-color: #fff;
	cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
	cursor: not-allowed !important;
}
.rc-slider-vertical {
	width: 7px;
	height: 100%;
}
.rc-slider-vertical .rc-slider-track {
	bottom: 0;
	width: 6px;
}
.rc-slider-vertical .rc-slider-handle {
	position: absolute;
	margin-left: -4px;
}
.rc-slider-vertical .rc-slider-step {
	height: 100%;
	width: 7px;
}
#volume-tooltip {
	font-size: 12px;
	font-weight: 600;
	min-width: 65px;
}
#volume-tooltip.tooltip.show {
	opacity: 1;
}
#volume-tooltip > .tooltip-inner {
	background-color: #fffae1;
	font-weight: 600;
	color: #444;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
#volume-tooltip.bs-tooltip-left .arrow::before {
	border-left-color: rgba(0, 0, 0, 0.125);
}
.volume-icon {
	font-size: 22px;
	margin-left: 14px;
	cursor: pointer;
	margin-bottom: 3px;
}